body {
  background-color:
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatcontainer {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  overflow-y: scroll;
  border: solid rgb(55, 80, 126);
  background-color: rgb(100, 126, 131);
}

.app-page-container {
  display: flex;
  flex-direction: row;
}

/* .d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
} */